* { margin: 0; padding: 0}
body {
}


#left {
  width: 400px;
  float:left;
  border: 3px solid black;
}

#controls {
  padding: 10px;
}

#params {
  padding: 10px;
}

#viz {
}
#charts {
  margin-left: 400px;
}

#charts > div {
  padding: 10px;
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 3px solid black;
}

#main_chart {
  width: 600px;
}

#tables {
  float: left;
}

#instructions_english {
  float: left;
}

#instructions_german{
  float: left;
}

table, th, td {
  border: 1px solid black;
}
