body {
}

#left {
  width: 400px;
  float:left;
  border: 3px solid black;
}

#controls {
  padding: 10px;
}

#params {
  padding: 10px;
}

#viz {
}
#graphs {
  margin-left: 400px;
}

#graphs > div {
  padding: 20px;
  height: 300px;
  float: left;
  margin: 5px;
  border: 3px solid black;
}

#tables {
  float: left;
}

#instructions_english {
  float: left;
}

#instructions_german{
  float: left;
}

table, th, td {
  border: 1px solid black;
}
